asgiref==3.8.1
async-timeout==5.0.1
Django==3.2
django-appconf==1.0.6
django-debug-toolbar==3.2
django-redis==5.4.0
django-select2==8.2.1
django-webpack-loader==3.1.1
gunicorn==23.0.0
packaging==24.2
psycopg2==2.9.10
python-dotenv==1.0.1
pytz==2024.2
redis==5.2.0
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.8.2
